<!DOCTYPE html>
<html lang="en">
<head>
  <title>404</title>
  <link rel="icon" href="/images/weather.png">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>Header}}
        <p>{{errorMessage}}</p>
    </div>
    
    {{>Footer}}
</body>
</html>