<!DOCTYPE html>
<html lang="en">
<head>
  <title>About</title>
  <link rel="icon" href="/images/weather.png">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="main-content">
      {{>Header}}
      <img class="robot" src="/images/robot.png" alt="">
  </div>

  {{>Footer}}
</body>
</html>